/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.example
.gitattributes
.gitignore
app/
artisan
bootstrap/app.php
bootstrap/autoload.php
bootstrap/cache/.gitignore
composer.json
composer.lock
config/
database/
gulpfile.js
package.json
phpunit.xml
public/
readme.md
resources/assets/
resources/lang/
resources/views/404.blade.php
resources/views/admin/
resources/views/adminTeam/dashboard.blade.php
resources/views/adminTeam/layout.blade.php
resources/views/adminTeam/navbar/
resources/views/adminTeam/players/
resources/views/adminTeam/popup/
resources/views/auth/
resources/views/event.blade.php
resources/views/events/
resources/views/gallery.blade.php
resources/views/home.blade.php
resources/views/layout.blade.php
resources/views/layouts/
resources/views/mail.blade.php
resources/views/navbar/
resources/views/register.blade.php
resources/views/regsiter/
resources/views/team/
resources/views/teams.blade.php
resources/views/welcome.blade.php
routes/
server.php
storage/app/
storage/framework/.gitignore
storage/framework/cache/
storage/framework/sessions/.gitignore
storage/framework/views/.gitignore
storage/logs/.gitignore
tests/
